<!----------Change year popup---------->
<div class="popup" id="chypp">
    
    <div class="popupContent" id="chyppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-pencil"></i></div>
            <div class="popupClose2" id="chyppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle1">SELECCIONAR AÑO</div>

        <div class="divInputsColumn mtm mbl">
            <div class="divInput">
                <label class="label1 fwb">Año</label>
                <input type="number"class="input1 inputM" id="chyppYear">
            </div>
        </div>   
        
        <div class="divButtonsRow mbs">
            <div id="chyppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<!----------Delete sale popup---------->
<div class="popup" id="dspp">
    
    <div class="popupContent" id="dsppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-trash-can"></i></div>
            <div class="popupClose2" id="dsppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="dsppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="dsppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="dsppOk">    
    <div class="okContent" id="dsppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Pedido eliminado con éxito</div>
        </div>
    </div>
</div>

