<!--- cutting order popup (copp) --->
<div class="popup" id="copp">    
    <div class="popupContent t-20 w-850">

        <div class="popupIcons">
            <div class="popupIcon3"><i class="fa-solid fa-scissors"></i></div>
            <div class="popupClose1" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="coppOrder m-t-15">
            <div class="popupTitle1 m-t-15 m-b-15" id="celppTitle">ORDEN DE CORTE (MALTA)</div>
            <div class="d-f-r j-c-c c-g-5">
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>#CORTE</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>FECHA</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
            </div>
            <div class="d-f-r j-c-c c-g-5 m-t-5 m-b-5">
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>MODELO</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>TELA</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
            </div>
            <div class="w-80-perc m-a coppImageDiv">
                <div class="popupTitle1 m-t-15 m-b-15" id="celppTitle">DESCRIPCIÓN</div>
                <div class="h-350 d-f-r j-c-c m-b-20">
                    <img src="/images/moldsImages/1741359036285.jpg" alt="Imagen del corte" class="h-350">
                </div>                
            </div>
            <div class="d-f-r j-c-c c-g-5 m-t-5">
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>COLLARETA</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>TALLER</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
            </div>
            <div class="d-f-r j-c-c c-g-5 m-t-5">
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>ACCESORIOS</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>FECHA DE SALIDA</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
            </div>
            <div class="d-f-r j-c-c c-g-5 m-t-5 m-b-15">
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>KGS/MTS</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
                <div class="d-f-r w-45-perc">
                    <div class="coppOrderTitle h-35 w-35-perc"><b>PRENDAS</b></div>
                    <div class="coppOrderValue h-35 w-65-perc"></div>
                </div>
            </div>
        </div>
        

        <div class="coppOrder m-t-15">
            <div class="popupTitle1 m-t-15 m-b-15" id="celppTitle">MALTA INVIERNO 2025</div>
            <div class="w-70-perc"></div>
        </div>
        
        

</div>


