<!--- iamge popup (impp) --->
<div class="popup" id="impp">    
    <div class="popupContent t-150 w-600">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-image"></i></div>
            <div class="popupClose2" id="imppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle1 m-b-10" id="imppTitle"></div>

        <div class="w-500 m-a m-h-430" id="imppImage"></div>
        
    </div>
</div>
