<!----------Confirm delete data popup (CEDPP)---------->

<div class="popup" id="cddpp">
    
    <div class="popupContent" id="cddppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="cddppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="cddppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="cddppAccept" class="button1 bs">Aceptar</div>
            <div id="cddppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="cddppOk">    
    <div class="okContent" id="cddppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="cddppOkText">Dato eliminado con éxito</div>
        </div>
    </div>
</div>