/*---------------------Buttons---------------------*/
.divButtonsRow{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.divButtonsColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
}

.button1{
    background-color: var(--color1);
    text-align: center;
    cursor: pointer;
    color: var(--color2);
    transition: background-color 0.5s ease;
    border-radius: 5px;
    border:none
}

.button1:hover{
    background-color: var(--color4);
}

.unabledButton1{
    background-color: var(--color4);
    text-align: center;
    color: var(--color2);
    border-radius: 5px;
    border:none;
    display: none;
}

.bs{
    font-size: 13px;
    width: 80px;
    padding: 5px 0px;
}

.bxs{
    font-size: 12px;
    width: 70px;
    padding: 4px 0px;
}

.bm{
    font-size: 13px;
    width: 100px;
    padding: 5px 0px;
}

.bl{
    font-size: 14px;
    width: 150px;
    padding: 8px 0px;
}