.d-f-r{
    display: flex;
}

.d-f-c{
    display: flex;
    flex-direction: column;
}

/*--- column gap ---*/
.c-g-5{
    column-gap: 5px;
}

.c-g-10{
    column-gap: 10px;
}

.c-g-15{
    column-gap: 20px;
}

.c-g-20{
    column-gap: 20px;
}

/*--- justify content ---*/
.j-c-c{
    justify-content: center;
}

/*--- align items ---*/
.a-i-c{
    align-items: center;
}