/*---------------------Colors---------------------*/
:root{
    --color1:black;
    --color2:white;
    --color3:rgb(189, 187, 187);
    --color4:rgb(62, 60, 60);
    --color5:#F5F5F5;
    --errorColor:rgb(221, 7, 7);
}

/*---------------------font family---------------------*/
body{
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    margin: 0;
}

/*-----------------------------Refs-----------------------------*/
a{
    text-decoration: none;
    color:black
}

/*-----------------------------uls-----------------------------*/
ul {
    list-style-type: none; 
    padding: 0; 
}

/*-----------------------------errors-----------------------------*/
.isInvalid{
    border:rgb(221, 7, 7) solid 2px !important
}

.invalidInput{
    border: var(--errorColor) solid 2px !important;
}

.invalidLabel{
    color: var(--errorColor);
    font-weight: bold;
}

.divError{
    color:rgb(206, 10, 10);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    display: none;
}

.divError2{
    color:rgb(206, 10, 10);
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
    display: none;
}

.errorColor{
    color:rgb(206, 10, 10);
    font-weight: bold;
}

/*---------------------display---------------------*/
.notVisible{
    display: none !important;
}

/*---------------------margins---------------------*/
.ma{
    margin:auto
}

.mts{
    margin-top: 5px;
}
.mbs{
    margin-bottom: 5px;
}
.mtm{
    margin-top: 20px;
}
.mbm{
    margin-bottom: 15px;
}
.mtl{
    margin-top: 30px;
}
.mbl{
    margin-bottom: 30px;
}
.mtxl{
    margin-top: 40px;
}
.mbxl{
    margin-bottom: 40px;
}
.mtxxl{
    margin-top: 100px;
}
.mbxxl{
    margin-bottom: 100px;
}

/*---------------------width---------------------*/
.wXXS{
    width: 35px;
}
.wXS{
    width: 70px;
}
.wS{
    width: 100px;
}
.wM{
    width: 130px;
}
.wL{
    width: 160px;
}
.wXL{
    width: 200px;
}
.wXXL{
    width: 300px;
}

/*---------------------padding---------------------*/
.pS{
    padding: 4px 0px 4px 0px;
}

.pL{
    padding: 11px 0px 11px 0px;
}

/*---------------------icons---------------------*/
.unfilterIcon{
    font-size: 16px;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

/*---------------------loader---------------------*/
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid var(--color1);
    width: 40px;
    height: 40px;
    animation: spin 3s linear infinite;
    display: none;
    position: absolute;
    top: 50%;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#ordersLoader,#ordersDetailsLoader,#salesLoader,#customersLoader{
    left: calc(50vw - 20px);
}

/*---------------------fonts---------------------*/
.fwb{
    font-weight: bold;
}

/*---------------------position---------------------*/
.relativePosition{
    position: relative;
}

/*---------------------predicted items---------------------*/
.predictedElements{
    display: none;
    position: absolute;
    top:60%;
    width: 100%;
    border: black solid 1px;
    background-color: var(--color2);
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
    text-align: center;
}
.liPredictedElements{
    font-size: 12px;
    padding: 5px 0px 5px 3px;
    cursor: pointer;
}
.predictedElementFocused{
    background-color:var(--color3);
}




