/*-----------------------------general actions-----------------------------*/
.divGeneralActions{
    display: flex;
    column-gap: 20px;
    position: absolute;
}

.divGeneralAction{
    border: var(--color1) dashed 3px;
    font-size: 23px;
    height: 37px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.divGeneralAction:hover{
    color:var(--color2);
    background-color: var(--color1);
}

.divGeneralAction:hover .showActionPopup{
    display: block;
}

.DGAerrors{
    color: var(--errorColor);
    font-size: 13px;
    font-weight: bold;
    row-gap: 20px;
    position: absolute;
    display: none;
    flex-direction: column;
    row-gap: 5px;
}

#DGAorders{
    right: 15vh;
    top: 22vh;
}

#DGAordersDetails{
    right: 15vh;
    top: 23vh;
}

#DGAordersErrors{
    right: 18vw;
    top: 37vh;
    width: 230px;
}

@media screen and (max-width: 1300px) {
    #DGAorders, #DGAordersDetails{
        right: 7vh;
    }
    #DGAordersErrors{
        right: 5vh;
        width: 120px;
    }
}


/*---PRODUCTS.EJS---*/
#DGAproducts{
    right: 15vh;
    top: 23vh;
}

#DGAcustomers{
    right: 15vh;
    top: 23vh;
}

#DGApaymentMethods{
    right: 30vw;
    top: 23vh;
}

#DGAordersCreateEdit{
    right: 70px;
    top: -80px;
    z-index: 2;
}