/*----------GENERAL----------*/
input, select, textarea{
    outline:none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*Hide arrows from input type number*/

input[type="checkbox"]:checked {
    accent-color: black
}

input[type="radio"]:checked {
accent-color: black
}

/*----------DIV INPUTS----------*/
.divInputsRow{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.divInputsColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----------INPUTS ADN LABELS----------*/
.divInput{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input1{
    text-align: center;
    border:black solid 1px;
    background-color: var(--color2);
    border-radius: 4px;
    font-size: 13px;
}

.input2{
    text-align: center;
    border:grey solid 1px;
    background-color: var(--color2);
    border-radius: 2px;
    font-size: 12px;
    padding: 2px;
    height: 100%;
    width: 45px;
}

.input3{
    text-align: center;
    border:black solid 2px;
    background-color: var(--color2);
    border-radius: 4px;
    font-size: 13px;
}

.label1{
    position: absolute;
    font-size: 13px;
    left: 8px;
    top: -8px;
    padding: 0px 5px;
    background-color: var(--color2);
}

.label2{
    position: absolute;
    font-size: 11px;
    left: 8px;
    top: -8px;
    padding: 0px 5px;
    background-color: var(--color2);
}

.label3{
    position: absolute;
    font-size: 13px;
    left: 8px;
    top: -8px;
    padding: 0px 5px;
    background-color: var(--color2);
    font-weight: bold;
}

.unabledInput{
    border: grey solid 1px;
    color: grey;
}

.unabledLabel{
    color: grey;
}

/*----------TABLES RESUME----------*/
.divTableSummary{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-size: 14px;
}

/*----------INPUTS AND SELECTS SIZES----------*/
.ixxs{
    width: 100px;
}

.ixs{
    width: 150px;
}

.is{
    width: 200px;
}

.im{
    width: 250px;
}

.il{
    width: 300px;
}

.ixl{
    width: 350px;
}

.ixxl{
    width: 400px;
}

.ixxxl{
    width: 450px;
}

/*----------PADDINGS----------*/

/* .ips{
    padding: 7px 0px 8px 0px
}

.sps{
    padding: 7px 0px 6px 0px
} */

.ips{
    height: 30px;
}

.sps{
    height: 30px;
}


.ipm{
    padding: 9px 0px 8px 0px
}










.selectS{
    width: 120px;
    padding: 7px 0px 4px 0px;
}

.inputS{
    width: 120px;
    padding: 8px 0px 4px 0px;
}

.inputXL{
    width: 200px;
    padding: 9px 0px 4px 0px;
}



.inputXS{
    width: 40px;
    padding: 7px 0px 3px 0px;
}



.ss{
    width: 70px;
    padding: 7px 0px 3px 0px;
}

.inputM{
    width: 150px;
    padding: 8px 0px 4px 0px;
}

.inputM{
    width: 150px;
    padding: 8px 0px 4px 0px;
}

.sM{
    width: 120px;
    padding: 7px 0px 3px 0px;
}

.inputL{
    width: 200px;
    padding: 10px 0px 3px 0px;
}

.inputLNoLabel{
    width: 150px;
    padding: 6px 0px 6px 0px;
}

.inputXL{
    width: 250px;
    padding: 10px 0px 3px 0px;
}

.sxl{
    width: 200px;
    padding: 7px 0px 3px 0px;
}

.inputXXL{
    width: 300px;
    padding: 9px 0px;
}

.inputXXXL{
    width: 360px;
    padding: 9px 0px 4px 0px;
}

/*----------DIV CHECKBOX----------*/
.divCheckbox1{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCheckbox2{
    font-size: 12px;
    display: flex;
    align-items: center;
}

/*----------INPUTS WIDTH----------*/


/*----------INPUTS PADDING----------*/


.ipl{
    padding: 10px 0px 5px 0px;
}


