
/* top */
.m-t-5{
    margin-top: 5px
}

.m-t-10{
    margin-top: 10px
}

.m-t-15{
    margin-top: 15px
}

.m-t-20{
    margin-top: 20px
}

.m-t-25{
    margin-top: 25px
}

.m-t-35{
    margin-top: 35px
}

.m-t-55{
    margin-top: 55px;
}

/* bottom */
.m-b-5{
    margin-bottom: 5px;
}

.m-b-10{
    margin-bottom: 10px;
}

.m-b-15{
    margin-bottom: 15px;
}

.m-b-20{
    margin-bottom: 20px;
}

/*--- left ---*/
.m-a{
    margin: auto
}