/*---------------------Popups---------------------*/
/*-----side popups-----*/
.sidePopup{
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height:100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
    background-color: var(--color2);
}

.slideIn {
    display: block;
    animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidePXL{
    width: 1000px;
}

.sidePM{
    width: 800px;
}

.sidePtitle{
    margin-top: 40px;
}

.sidePsubtitle{
    margin-top: 20px;

}

.closeSidePopup{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 14px;
    border: var(--color3) solid 2px;
    color: var(--color3);
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.closeSidePopup:hover{    
    color: var(--color2);
    background-color: var(--color3);
}

/*-----info popups-----*/

.infoPopup{
    display: none;
    padding: 20px;
    border-radius: 5px;
    border: var(--color1) solid 2px;
    position: absolute;
    background-color: var(--color2);
    z-index: 1;
}

.showActionPopup{
    display: none;
    padding: 2px 5px;
    position: absolute;
    background-color: var(--color3);
    font-size: 12px;
    border-radius: 3px;
    color: var(--color2);
    top:40px;
}

.pos1{    
    right:10%;
}
.pos2{    
    right:6%;
}
.pos3{    
    right:0%;
}
.pos4{    
    right:-3%;
}

.closePopup{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 11px;
    border: var(--color3) solid 2px;
    color: var(--color3);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.closePopup:hover{    
    color: var(--color2);
    background-color: var(--color3);
}