/*---popups contents---*/
#coppContent,#roppContent,#doppContent,#amppContent,#dsppContent{
    top: 35%;
    width: 400px;
    left: calc(50vw - 200px);
}

#rpppContent{
    top: 7%;
    width: 600px;
    left: calc(50vw - 300px);
}

#cdppContent{
    top: 25%;
    width: 250px;
    left: calc(500px - 125px);
}

#eodppContent{
    top: 25%;
    width: 400px;
    left: 500px;
}

#dlppContent{
    top: 30%;
    width: 400px;
    left: calc(50vw - 210px);
}

#scppContent{
    top: 26%;
    width: 500px;
    left: calc(700px - 250px);
}

#chyppContent{
    top: 26%;
    width: 300px;
    left: calc(50vw - 160px);
}

#elppContent{
    top: 26%;
    width: 300px;
    left: calc(50vw - 160px);
}

#apppContent{
    top: 13%;
    width: 1000px;
    left: calc(50vw - 500px);
}

#obppContent,#loppContent{
    top: 30%;
    width: 400px;
    left: calc(50vw - 215px);
    z-index: 10;
}

#scppContent{
    top: 20%;
    width: 400px;
    left: calc(500px - 200px);
    z-index: 10;
}

/*-----orers.ejs-----*/
#rcpppContent{
    top: 20%;
    width: 400px;
    left: calc(50vw - 200px);
}

#cmppContent{
    top: 15%;
    width: 600px;
    left: calc(50vw - 300px);
    padding-bottom: 30px;
}


/*---ok popups content---*/
#coppOkContent,#roppOkContent,#doppOkContent, #amppOkContent,#dsppOkContent,#rpppOkContent,#obppOkContent,#loppOkContent,#apppOkContent,#rcpppOkContent{
    top: 40%;
    left: calc(50vw - 150px);
}

