/*----------POPUP----------*/
.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}

.popup2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*----------POPUP CONTENT----------*/
.popupContent{    
    padding: 5px 7px;    
    border-radius: 5px;
    background-color: white;
    position: relative;
    border: var(--color1) solid 3px;
    font-size: 14px;
    max-height: 90vh;
    overflow-y: auto;
    margin: auto;
}

/*----------POPUP ICONS----------*/
.popupIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupIcon1{
    font-size: 20px;
}

.popupIcon2{
    font-size: 15px;
}

.popupIcon3{
    font-size: 23px;
}

.popupClose1{
    font-size: 23px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.popupClose2{
    font-size: 18px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.popupClose1:hover{
    color: var(--color4);
}

/*----------TITLES AND TEXTS----------*/
.popupTitle1{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.popupTitle2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.popupSubitle1{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;

}

.popupQuestion{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 1.8;
}

.popupText{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

/*----------OK POPUP----------*/
.okPopup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

/*----------OK POPUP CONTENT----------*/
.okContent{    
    border-radius: 5px;
    position: relative;
    border: green solid 3px;
    background-color: rgb(173, 204, 173);
    font-size: 16px;
    padding: 15px 30px;
    color: green;
    top: 40%;
    left: calc(50vw - 150px);
    text-align: center;
}

.okDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.okIcon1{
    font-size: 25px;
}

/*----------info popups----------*/
.showActionPopup{
    display: none;
    padding: 2px 5px;
    position: absolute;
    background-color: transparent;
    font-size: 12px;
    border-radius: 3px;
    color: var(--color1);
    top:-25px;
    text-align: center;
    width: 150px;
}

/*----------side popups----------*/
.sidePopup{
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height:100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: none;
    background-color: var(--color2);
    z-index: 1;
}

.slideIn {
    display: block;
    animation: slideIn 0.8s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidePopupMain{
    position: relative;    
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.sppTitle{
    font-size: 20px;
    font-weight: bold;
}

.sppTitle2{
    font-size: 17px;
    font-weight: bold;
}

.sppSubtitle{
    font-size: 17px;
    font-weight: bold;
}

.sppText{
    font-size: 15px;
}

.closeSidePopup{
    position: absolute;
    font-size: 16px;
    border: var(--color1) solid 2px;
    color: var(--color1);
    padding: 2px 6px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    right: -42px;
    top: -38px;
}

.closeSidePopup:hover{    
    color: var(--color2);
    background-color: var(--color1);
}

.sidePopupContent{
    position: relative;    
    text-align: center;
    width: 90%;
    margin: auto;
}



.sidePopupError{
    height: 15px;
}

/*sizes*/
.sppxl{
    width: 1200px;
}


/*----------edit popups----------*/
.editPopup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.editPopupContent{
    margin: 20% auto;
    padding:30px 15px 20px 15px;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.closeEditPopup{
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 11px;
    border: var(--color1) solid 2px;
    color: var(--color1);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.closeEditPopup:hover{
    background-color: var(--color1);
    color: var(--color2);
}

.titleEditPopup{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 20px;
}




/*----------POPUPS CONTENTS SIZES AND POSITIONS----------*/
.ppContentHsWs{ /*height small with small*/
    top: 30%;
    width: 300px;
    margin: auto;
}

.ppContentHmWm{ /*height medium with medium*/
    top: 20%;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
}

.ppContentHmWl{ /*height medium with medium*/
    top: 20%;
    width: 500px;
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
}

.ppContentHmWxl{ /*height medium with medium*/
    top: 20%;
    width: 600px;
    max-height: 500px;
    overflow-y: auto;
    margin: auto;
}

.ppContentHlWxl{ /*height large with extra large*/
    top: 7%;
    width: 600px;
    max-height: 620px;
    overflow-y: auto;
    margin: auto;
}

.ppContentHlWxxl{ /*height large with xxlarge*/
    top: 7%;
    width: 700px;
    max-height: 620px;
    overflow-y: auto;
    margin: auto;
}


/*----------OK POPUPS SIZES AND POSITIONS----------*/
.okContentWmTm{ /*width medium top medium*/
    width: 300px;
    top: 40%;
    left: calc(50vw - 183px);
}








/*-- popups options --*/
/* top */
.pp-t-30{
    top:30%
}

/* width */
.pp-w-400{
    width:400px
}



