/*--------------------mainMenu.ejs--------------------*/
.mainMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 20px;
}

.itemMainMenu{
    width: 300px;
    text-align: center;
    padding: 15px 0px;
    color: var(--color2);
    background-color: var(--color1);
    border: var(--color1) solid 2px;
    border-radius: 15px;
}

.itemMainMenu:hover{
    background-color: var(--color2);
    color:var(--color1);
    font-weight: bold;
}

/*--------------------orders.ejs--------------------*/
#DGAorders{
    /*right: 100px;
    top: 185px;*/
    right: 8%;
    top: 23%;
}

#unfilterOrders{
    cursor: pointer;
}

#rpppBalanceAlert{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    font-size: 13px;
    margin-top: 3px;
    font-weight: bold;
    position: absolute;
    width: 500px;
    top: 100%;
    left: -100px;

}

/*--------------------ordersCreateEdit.ejs--------------------*/
#createEditAddProduct{
    font-size: 15px;
    position: absolute;
    top: 2.5px;
    right: 285px;
    cursor: pointer;
    border: var(--color1) solid 2px;
    border-radius: 3px;
    padding: 2px 3px;
    display: flex;
    align-items: center;
}

#createEditAddProduct:hover{
    color: var(--color2);
    background-color: var(--color1);
}

#DGAordersCreateEdit{
    right: 60px;
    top: -90px;
    z-index: 2;
}

#inputProduct{
    position: relative;
}

#predictedProductsList{
    display: none;
    position: absolute;
    top:60%;
    width: 100%;
    border: black solid 1px;
    background-color: var(--color2);
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
}

.liPredictedProducts{
    font-size: 12px;
    padding: 5px 0px;
    cursor: pointer;
}

.predictedProductFocused{
    background-color:var(--color3);
}