/*----TABLES----*/
#ordersTable{
    max-height: 350px; /*to avoid overflow, it depends on the website landscape*/
    max-width: 95%;
}

#customersTable{
    max-height: 420px;
}

#paymentMethodsTable{
    max-height: 420px;
}

#productsClientsTable{
    height: 300px;
}

#cmppTable{
    height: 500px;
}

#scppTable{
    height: 350px;
}

#ceoppTable{
    height: 430px;
}

#cbppTable{
    max-height: 330px;
}

#eoppInfo,#rpppInfo,#pvppInfo,#doppInfo,#coppInfo,#amppInfo,#obppInfo,#ob2ppInfo{
    width: 60px;
    top:38.5%
}

#elppInfo,#dlppInfo,#loppInfo{
    width: 50px;
    top:34%;
}



/*----------ordersDetails.ejs----------*/
/* #ordersDetailsTable{
    height: 430px;
} */



/*----------sales.ejs----------*/
#salesTable{
    height: 400px;
}

/*----------products.ejs----------*/
#productsTable{
    height: 400px;
}

/*----------data.ejs----------*/
#productsTypesTable,#fabricsTable,#colorsTable,#sizesTable {
    height: 450px;
}

/*----------shipping.ejs----------*/
#shippingTable {
    height: 430px;
}




