/*----TABLES----*/
#ordersTable{
    max-height: 350px; /*to avoid overflow, it depends on the website landscape*/
}

#customersTable{
    max-height: 420px;
}

#paymentMethodsTable{
    max-height: 420px;
}

#productsClientsTable{
    height: 250px;
}

#cmppTable{
    height: 400px;
}

#scppTable{
    height: 350px;
}

#ceoppTable{
    height: 430px;
}



#eoppInfo,#rpppInfo,#pvppInfo,#doppInfo,#coppInfo,#amppInfo,#obppInfo,#ob2ppInfo{
    width: 60px;
    top:38.5%
}

#elppInfo,#dlppInfo,#loppInfo{
    width: 50px;
    top:34%;
}



/*----------ordersDetails.ejs----------*/
#ordersDetailsTable{
    height: 400px;
}



/*----------sales.ejs----------*/
#salesTable{
    height: 400px;
}

/*----------products.ejs----------*/
#productsTable{
    height: 400px;
}

/*----------data.ejs----------*/
#productsTypesTable,#fabricsTable,#colorsTable,#sizesTable {
    height: 450px;
}



