/*---------------------tables---------------------*/
table{
    margin: auto;
    border-collapse: collapse;
}

thead{
    position: sticky;
    top:0;
}/*to leave titles fixed*/ 

.divTable{
    max-height: 400px; /*to avoid overflow, it depends on the website landscape*/
    overflow-y: auto;
    width: fit-content;
    margin: auto;
}

.theadCss{
    font-size: 13px;
    text-align: center;
    background-color: var(--color1);
    color: var(--color2);
    padding: 4px;
    font-weight: lighter;
}

.thLeftBorder{
    border-top-left-radius: 15px;
}/*Add radius to left top border*/

.thRightBorder{
border-top-right-radius: 15px;
}/*Add radius to right top border*/

.thTall{
    height: 25px;
}

.divThWithIcon{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

/*------Tbody------*/
.tBody1{
    font-weight: lighter;
    padding: 9px 0px;
    font-size: 13px;
}

.tBody2{
    font-weight: lighter;
    padding: 2px 0px;
    font-size: 13px;
}

.tBodyEven{
    background-color: var(--color2);
}/*background when row number is even*/

.tBodyOdd{
    background-color: var(--color3);
}/*background when row number is odd*/

.allowedIcon{
    cursor: pointer;
}

.notAllowedIcon{
    color: rgb(159, 157, 157);
}

.tableIcon{
    cursor: pointer;
}

.tableInfo{
    font-size: 12px;
    position: absolute;
    display: none;
    width: 200px;
    text-align: center;
}

#productsClientsTable{
    height: 250px;
}

#eoppInfo,#rpppInfo,#pvppInfo,#doppInfo,#coppInfo,#amppInfo,#obppInfo,#ob2ppInfo{
    width: 60px;
    top:38.5%
}

#elppInfo,#dlppInfo,#loppInfo{
    width: 50px;
    top:34%;
}



