/*---------------------titles---------------------*/

.titleL{
    font-size: 23px;
    text-align: center;
}

.titleM{
    font-size: 18px;
    text-align: center;
}

.titleS{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}