
/*--- top ---*/
.t-20{
    top: 20px
}

.t-120{
    top: 120px
}

.t-150{
    top: 150px
}

.t-160{
    top: 160px
}

/*--- right ---*/
.r-20{
    right: 20px
}

.r-40{
    right: 40px
}

.r-100{
    right: 100px
}

.r-150{
    right: 150px
}