.cuoppOrder{
    border: black solid 2px;
}

.cuoppOrderTitle{
    background-color: rgb(212, 204, 204);
    border-top: black solid 1px;
    border-bottom  : black solid 1px;
    border-left: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuoppOrderValue{
    border-top: black solid 1px;
    border-bottom  : black solid 1px;
    border-right: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuoppImageDiv{
    border: black solid 1px;
}