/*--------------------mainMenu.ejs--------------------*/
.mainMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.itemMainMenu{
    width: 300px;
    text-align: center;
    padding: 15px 0px;
    color: var(--color2);
    background-color: var(--color1);
    border: var(--color1) solid 2px;
    border-radius: 15px;
}

.itemMainMenu:hover{
    background-color: var(--color2);
    color:var(--color1);
    font-weight: bold;
}

#divSeason{
    width: 100px;
    margin: auto;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: var(--color3) solid 1.5px;
    padding: 3px 0px;
}

#season{
    font-size: 18px;
    font-weight: bold;
}

/*--------------------POPUPS--------------------*/
/*change season popup (chspp)*/
#chsppContent{
    top: 25%;
    width: 300px;
    left: calc(50vw - 160px);
}