#imppImage{
    text-align: center;
}

.moldImage{
    width: 460px;
    margin-bottom: 15px;
}

#cemppDrawingDiv{
    text-align: center;
    margin-bottom: 15px;
}

#cemppDrawing{
    width: 250px;
    margin-bottom: 15px;
}

