#positiveBalance{
    display: none;
}

#notes{
    cursor: pointer;
    display: none;
}

/*-----ordersCEOPP.ejs-----*/
#ceoppAttributes{
    font-size: 13px;
    display: none;
}

.productAttribute{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

#ceoppAddItem{
    font-size: 20px;
}

#ceoppAddItem:hover{
    color: grey
}

/*-----ordersEODPP.ejs-----*/
.editAttributeIcon{
    font-size: 15px;
}

/*-----ordersRPPP.ejs-----*/
#rpppUseBalance{
    border-radius: 3px;
    border: green solid 2px;
    background-color: rgb(180, 241, 180);
    width: 80%;
    margin: auto;
    margin-top: 3px;
    justify-content: center;
}

#rpppNegativeBalance{
    position: absolute;
    color: var(--errorColor);
    width: 100px;
    font-size: 12px;
    padding: 3px;
    border: var(--errorColor) solid 2px;
    background-color: rgb(251, 203, 203);
    right: 30px;
    top: 50px;
    border-radius: 3px;
}