#positiveBalance{
    color: green;
    display: none;
}

#notes{
    cursor: pointer;
    display: none;
}

/*-----ordersCEOPP.ejs-----*/
#ceoppAttributes{
    font-size: 13px;
    display: none;
}

.productAttribute{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

#ceoppAddItem{
    font-size: 20px;
}

#ceoppAddItem:hover{
    color: grey
}

/*-----ordersEODPP.ejs-----*/
.editAttributeIcon{
    font-size: 15px;
}