<!----------Create payment method popup (CPMPP)---------->
<div class="popup2" id="cpmpp">
    
    <div class="popupContent ppContentHsWs" id="cpmppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-rgular fa-pen-to-sqaure"></i></div>
            <div class="popupClose2" id="cpmppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2" id="cpmppTitle"></div>

        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label1" id="cpmppPaymentMethodLabel">Forma de pago</label>
                <input type="text" id="cpmppPaymentMethod" class="input1 im ipm" autocomplete="off">
                <div class="divError" id="cpmppPaymentMethodError">Debe ingresar una forma de pago</div>
                <div class="divError" id="cpmppPaymentMethodError2">La forma de pago ingresada ya existe</div>
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="cpmppCreate" class="button1 bxs">Crear</div>
            <div id="cpmppEdit" class="button1 bxs">Editar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="cpmppOk">    
    <div class="okContent okContentWmTm" id="cpmppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="cpmppOkText"></div>
        </div>
    </div>
</div>