<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle">
    <div class="titleL">Seleccione una opción</div>
</div>

<div class="content">
    <div class="mainMenu">        
        <a class="itemMainMenu" href="/sales/in-progress-orders">VENTAS</a>
        <a class="itemMainMenu" href="">CORTES</a>
        <a class="itemMainMenu" href="">FINANZAS</a>
        <a class="itemMainMenu" href="/data/sales/customers">DATOS</a>
        <a class="itemMainMenu" href="">USUARIOS</a>
                
    </div>
    
</div>


