<!----------Confirm popup---------->
<div class="popup" id="copp">
    
    <div class="popupContent ppContentHsWs" id="coppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-circle-question"></i></div>
            <div class="popupClose2" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="coppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="coppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="coppOk">    
    <div class="okContent okContentWmTm" id="coppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="coppOkText"></div>
        </div>
    </div>
</div>