<!----------One input popup---------->
<div class="popup" id="oipp">
    
    <div class="popupContent ppContentHsWs" id="oippContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-square-plus"></i></div>
            <div class="popupClose2" id="oippClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle1" id="oippTitle"></div>

        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label1" id="oippInputLabel"></label>
                <input type="text" class="input1 im ipm" id="oippInput">
                <div class="divError" id="oippInputError">Debe completar el dato</div>
                <div class="divError" id="oippInputError2"></div>
            </div>
        </div>       
        
        <div class="divButtonsRow mbs">
            <div id="oippAccept" class="button1 bxs">Guardar</div>
        </div>
    </div>
</div>