<!----------Deliver order popup---------->
<div class="popup" id="dopp">
    
    <div class="popupContent" id="doppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div class="popupClose1" id="doppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="doppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="doppAccept" class="button1 bs">Aceptar</div>
            <div id="doppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="doppOk">    
    <div class="okContent" id="doppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="doppOkText">Pedido entregado con éxito</div>
        </div>
    </div>
</div>

<!----------Cancel order popup---------->
<div class="popup" id="copp">
    
    <div class="popupContent" id="coppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-circle-xmark"></i></div>
            <div class="popupClose2" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="coppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="coppAccept" class="button1 bxs">Aceptar</div>
            <div id="coppCancel" class="button1 bxs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="coppOk">    
    <div class="okContent" id="coppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Pedido cancelado con éxito</div>
        </div>
    </div>
</div>

<!----------Restore order popup---------->
<div class="popup" id="ropp">
    
    <div class="popupContent" id="roppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="popupClose1" id="roppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="roppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="roppAccept" class="button1 bs">Aceptar</div>
            <div id="roppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="roppOk">    
    <div class="okContent" id="roppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Pedido reflotado con éxito</div>
        </div>
    </div>
</div>

<!----------Assign order manager---------->
<div class="popup" id="ampp">
    
    <div class="popupContent" id="amppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-solid fa-user-pen"></i></div>
            <div class="popupClose1" id="amppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle1">ASIGNAR ENCARGADO</div>

        <div class="divInputsColumn mtm mbl">
            <div class="divInput">
                <select id="amppSelectOM" class="input1 inputXXL">
                    <% ordersManagers.forEach(om => { %>
                        <% if (om.enabled == 1) { %>
                            <option value="<%= om.id %>">
                                <%= om.order_manager_name %>
                            </option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="amppAccept" class="button1 bs">Aceptar</div>
            <div id="amppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="amppOk">    
    <div class="okContent" id="amppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Encargado asignado con éxito</div>
        </div>
    </div>
</div>

<!----------Register payment---------->
<div class="popup" id="rppp">
    
    <div class="popupContent" id="rpppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-credit-card"></i></div>
            <div class="popupClose1" id="rpppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        
        <div class="popupTitle1" id="rpppTitle"></div>
        <div class="popupSubitle1">REGISTRAR PAGO</div>

        <div class="divInputsColumn mtm mbm">
            <div class="divInput">
                <label class="label1 unabledLabel">Subtotal</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppSubtotal" readonly>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Descuento %</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppDiscount" readonly>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Total</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppTotal" readonly>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Pagado</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppPaid" readonly>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Pendiente</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppBalance" readonly>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Saldo a favor</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppBalanceUsed" readonly>
                <div class="divCheckbox2 notVisible" id="rpppUseBalance">
                    <input type="checkbox" id="rpppUseBalanceCheck">
                    <label id="rpppUseBalanceLabel"></label><br>
                </div>
            </div>
            <div class="divInput">
                <label class="label1" id="rpppPaymentLabel">Abona</label>
                <input type="number" step="0.01" class="input1 il ipm" id="rpppPayment">
                <div class="divError"  id="rpppPaymentError">Debe completar el importe abonado</div>
            </div>
            <div class="divInput">
                <label class="label1" id="rpppPaymentMethodLabel">Forma de pago</label>
                <select class="input1 il ipm" id="rpppPaymentMethod">
                    <option value=""></option>
                    <% paymentMethods.forEach(pm => { %>
                        <% if (pm.enabled == 1) { %>
                            <option value="<%= pm.id %>">
                                <%= pm.payment_method %>
                            </option>
                        <% } %>
                    <% }) %>
                </select>
                <div class="divError" id="rpppPaymentMethodError">Debe seleccionar una forma de pago</div>
            </div>
            <div class="divInput">
                <label class="label1 unabledLabel">Saldo</label>
                <input type="text" step="0.01" class="input1 il ipm unabledInput" id="rpppNewBalance" readonly>                
            </div>
            
            <div id="rpppBalanceAlert"></div>
           
        </div>
        <div class="divButtonsRow">
            <div id="rpppAccept" class="button1 bs">Aceptar</div>
            <div id="rpppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="rpppOk">    
    <div class="okContent" id="rpppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Pago actualizado con éxito</div>
        </div>
    </div>
</div>

<!----------Change discount---------->
<div class="popup" id="cdpp">
    
    <div class="popupContent" id="cdppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-pencil"></i></div>
            <div class="popupClose2" id="cdppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2">MODIFICAR DESCUENTO</div>

        <div class="divInputsColumn mtm mbl">
            <div class="divInput">
                <label class="label1 fwb">Descuento %</label>
                <input type="number" id="cdppNewDiscount" class="input1 inputL" step="0.01">
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="cdppAccept" class="button1 bxs">Aceptar</div>
            <div id="cdppCancel" class="button1 bxs">Cancelar</div>
        </div>
    </div>
</div>

<!----------Edit order details---------->
<div class="popup" id="eodpp">
    
    <div class="popupContent" id="eodppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-pencil"></i></div>
            <div class="popupClose2" id="eodppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts" id="eodppTitle"></div>

        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label1" id="eodppPriceLabel">Precio unitario</label>
                <input type="number" step="0.01" class="input1 inputL" id="eodppPrice">
                <div class="divError"  id="eodppPriceError">Debe completar el precio</div>
            </div>
            <div class="divInput">
                <label class="label1" id="eodppQtyLabel">Cantidad requerida</label>
                <input type="number" class="input1 inputL" id="eodppQtyR">
            </div>
            <div class="divInput">
                <label class="label1" id="eodppQtyLabel">Cantidad confirmada</label>
                <input type="number" class="input1 inputL" id="eodppQtyC">
            </div>            
        </div>

        <div class="divButtonsRow">
            <div id="eodppAccept" class="button1 bxs">Aceptar</div>
            <div id="eodppCancel" class="button1 bxs">Cancelar</div>
        </div>
    </div>
</div>

<!----------Observations---------->
<div class="popup" id="obpp">    
    <div class="popupContent" id="obppContent">
        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-comment"></i></div>
            <div class="popupClose1" id="obppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>
        <div class="popupTitle2 mts" id="obppTitle">OBSERVACIONES</div>
        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <textarea class="input1 inputXXL" id="obppObs"></textarea>
            </div> 
        </div>
        <div class="divButtonsRow">
            <div id="obppAccept" class="button1 bxs">Guardar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="obppOk">    
    <div class="okContent" id="obppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Observaciones guardadas con éxito</div>
        </div>
    </div>
</div>

