<!----------create / Edit order popup (ceopp)---------->

<div class="sidePopup sppxl" id="ceopp">

    <div class="sidePopupMain">
        <div class="closeSidePopup" id="ceoppClose">X</div>
        <div class="sppTitle" id="customerOrder"></div>
        <div class="sppSubitle mtm">CREAR PEDIDO</div>
    </div>

    <div class="sidePopupContent">
        <div class="divGeneralActions" id="DGAordersCreateEdit">
            <div class="divGeneralAction" id="DGAsaveOrder">
                <i class="fa-regular fa-floppy-disk"></i>
                <div class="showActionPopup">
                    Guardar pedido
                </div>
            </div>
        </div>
        
        <div class="divInputsRow">
            <div class="divInput" id="inputProduct">
                <label class="label1" id="selectProductLabel">Producto</label>
                <input type="text" class="input1 inputXXXL" id="selectProduct">
                <ul id="predictedProductsList"></ul>
            </div>

            <div class="divInput">
                <label class="label1" id="selectSizeLabel">Talle</label>
                <select id="selectSize" name ="selectSize" class="input1 inputS">
                    <option value="" id="selectSizeDefault"></option>
                </select>
            </div>
            
            <div id="ceoppAddProduct">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>

        <div class="divInputsRow mtm notVisible" id="colorsRow">

            <div class="divInput notVisible" id="inputColor0">
                <label class="label1 labelColor" id="color0Label"></label>
                <input type="number" class="input1 inputL" id="color0">
            </div>

            <div class="divInput notVisible" id="inputColor1">
                <label class="label1 labelColor" id="color1Label"></label>
                <input type="number" class="input1 inputL" id="color1">
            </div>

            <div class="divInput notVisible" id="inputColor2">
                <label class="label1 labelColor" id="color2Label"></label>
                <input type="number" class="input1 inputL" id="color2">
            </div>

            <div class="divInput notVisible" id="inputColor3">
                <label class="label1 labelColor" id="color3Label"></label>
                <input type="number" class="input1 inputL" id="color3">
            </div>

            <div class="divInput notVisible" id="inputColor4">
                <label class="label1 labelColor" id="color4Label"></label>
                <input type="number" class="input1 inputL" id="color4">
            </div>

            <div class="divInput notVisible" id="inputColor5">
                <label class="label1 labelColor" id="color5Label"></label>
                <input type="number" class="input1 inputL" id="color5">
            </div>

            <div class="divInput notVisible" id="inputColor6">
                <label class="label1 labelColor" id="color6Label"></label>
                <input type="number" class="input1 inputL" id="color6">
            </div>

            <div class="divInput notVisible" id="inputColor7">
                <label class="label1 labelColor" id="color7Label"></label>
                <input type="number" class="input1 inputL" id="color7">
            </div>
        </div>
       

        <div class="divError" id="ceoppError"></div>

        <div class="divTableSummary mtl mbm" id="orderInfo"></div>

        <div class="divTable mtl">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wXXL thLeftBorder thTall">Producto</th>
                        <th class="theadCss wS thTall">Color</th>
                        <th class="theadCss wXS thTall">Talle</th>
                        <th class="theadCss wS thTall">Precio unitario</th>    
                        <th class="theadCss wXS thTall">Cantidad</th>                        
                        <th class="theadCss wS thTall">Total</th>
                        <th class="theadCss wXXS thTall"><i class="fa-regular fa-pen-to-square"></i></th>
                        <th class="theadCss wXXS thRightBorder thTall"><i class="fa-regular fa-trash-can"></i></i></th>
                    </tr>
                </thead>
                <tbody id="bodyCreateEdit"></tbody>
            </table>
        </div>
    </div>

</div>





