<!----------Delete line popup---------->
<div class="yesNoPopup" id="dlpp">
    
    <div class="yesNoContent" id="dlppContent">

        <div class="yesNoIcons">
            <div class="yesNoIcon1"><i class="fa-regular fa-trash-can"></i></div>
            <div class="yesNoClose1" id="dlppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="yesNoQuestion" id="dlppQuestion"></div>

        <div class="yesNoQuestion notVisible" id="dlppAlert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Al eliminar el producto se eliminará el pedido ya que el mismo cuenta con una sola línea.
        </div>
        
        <div class="divButtonsRow mbs">
            <div id="dlppAccept" class="button1 bs">Aceptar</div>
            <div id="dlppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="dlppOk">    
    <div class="okContent" id="dlppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Línea eliminada con éxito</div>
        </div>
    </div>
</div>