
<!----------Deliver order popup---------->
<div class="yesNoPopup" id="dopp">
    
    <div class="yesNoContent" id="doppContent">

        <div class="yesNoIcons">
            <div class="yesNoIcon1"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div class="yesNoClose1" id="doppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="yesNoQuestion" id="doppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="doppAccept" class="button1 bs">Aceptar</div>
            <div id="doppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="doppOk">    
    <div class="okContent" id="doppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="doppOkText">Pedido entregado con éxito</div>
        </div>
    </div>
</div>

<!----------Cancel order popup---------->
<div class="yesNoPopup" id="copp">
    
    <div class="yesNoContent" id="coppContent">

        <div class="yesNoIcons">
            <div class="yesNoIcon1"><i class="fa-solid fa-ban"></i></div>
            <div class="yesNoClose1" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="yesNoQuestion" id="coppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="coppAccept" class="button1 bs">Aceptar</div>
            <div id="coppCancel" class="button1 bs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="coppOk">    
    <div class="okContent" id="coppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText" id="coppOkText">Pedido cancelado con éxito</div>
        </div>
    </div>
</div>
