<!----------Deliver order popup---------->
<div class="popup" id="dopp">
    
    <div class="popupContent" id="doppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div class="popupClose2" id="doppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="doppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="doppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>
<!----------Cancel order popup---------->
<div class="popup" id="copp">
    
    <div class="popupContent ppContentHsWs" id="coppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-circle-xmark"></i></div>
            <div class="popupClose2" id="coppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="coppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="coppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<!----------Restore order popup---------->
<div class="popup" id="ropp">
    
    <div class="popupContent" id="roppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-circle-check"></i></div>
            <div class="popupClose2" id="roppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="roppQuestion"></div>       
        
        <div class="divButtonsRow mbs">
            <div id="roppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<!----------Assign order manager---------->
<div class="popup" id="ampp">
    
    <div class="popupContent" id="amppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-user-pen"></i></div>
            <div class="popupClose2" id="amppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle1">ASIGNAR ENCARGADO</div>

        <div class="divInputsColumn mtm mbl">
            <div class="divInput">
                <select id="amppSelectOM" class="input1 inputXXL">
                    <% ordersManagers.forEach(om => { %>
                        <% if (om.enabled == 1) { %>
                            <option value="<%= om.id %>">
                                <%= om.order_manager_name %>
                            </option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="amppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>



<!----------Change discount---------->
<div class="popup" id="chdpp">
    
    <div class="popupContent" id="chdppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-solid fa-pencil"></i></div>
            <div class="popupClose2" id="chdppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2">MODIFICAR DESCUENTO</div>

        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <label class="label1 fwb">Descuento %</label>
                <input type="number" id="chdppNewDiscount" class="input1 inputL" step="0.01">
            </div>
        </div>

        <div class="divButtonsRow mbs">
            <div id="chdppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<!----------Observations---------->
<div class="popup" id="obpp">    
    <div class="popupContent" id="obppContent">
        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-comment"></i></div>
            <div class="popupClose2" id="obppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>
        <div class="popupTitle2 mts" id="obppTitle">OBSERVACIONES</div>
        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <textarea class="input1 inputXXL" id="obppObs"></textarea>
            </div> 
        </div>
        <div class="divButtonsRow mbs">
            <div id="obppAccept" class="button1 bxs">Guardar</div>
        </div>
    </div>
</div>

