<div class="editPopup" id="editPopup">
    
    <div class="editPopupContent">

        <div class="closeEditPopup" id="closeEditPopup">X</div>

        <div class="notVisible" id="orderDetailsId"></div>
        
        <div class="titleEditPopup" id="titleEditPopup"></div>

        <div class ="divInputsColumn">
            <div class="divInput mbm">
                <label for="editPrice" class="label1" id="editPriceLabel">Precio</label>
                <input type="text" name="editPrice" class="input1 inputM" id="editPrice">
            </div>
    
            <div class="divInput">
                <label for="editQty" class="label1" id="editQtyLabel">Cantidad</label>
                <input type="text" name="editQty" class="input1 inputM" id="editQty">
            </div>

            <div class="divError notVisible mtm" id="errorText2">Todos los datos deben estar completos</div>
    
            <div class="divButtonsRow">
                <div class="button1 bS" id="acceptEdit">Aceptar</div>
                <div class="button1 bS" id="cancelEdit">Cancelar</div>
            </div>

        </div>

    </div>

</div>