<!----------Select colors popup (SCPPP)---------->
<div class="yesNoPopup2" id="scpp">
    
    <div class="yesNoContent" id="scppContent">

        <div class="yesNoIcons">
            <div class="yesNoIcon1"><i class="fa-regular fa-square-check"></i></div>
            <div class="yesNoClose1" id="scppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="yesNoTitle1" id="scppTitle"></div>
        <div class="yesNoTitle1 mts">Colores disponibles</div>

        <div class="selectAllColors mtm mbm">
            <div><input type="checkbox" id="selectAllColors"></div>
            <div>Seleccionar todos los colores</div>
        </div>

        <div class="divTable" id="scppTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wM thLeftBorder">Color</th>
                        <th class="theadCss wS ">Requerido</th>
                        <th class="theadCss wS thRightBorder thHighlighted">Confirmado</th>
                    </tr>
                </thead>
                <tbody id="bodyColors"></tbody>
            </table>
        </div>

        <div class="divError mts" id="scppError">Debe seleccionar al menos un color</div>

        <div class="divButtonsRow mtl mbs">
            <div id="scppAccept" class="button1 bxs">Aceptar</div>
            <div id="scppCancel" class="button1 bxs">Cancelar</div>
        </div>
    </div>
</div>