<!----------Register customer payment popup (RCPPP)---------->
<div class="yesNoPopup" id="cmpp">
    
    <div class="yesNoContent" id="cmppContent">

        <div class="yesNoIcons">
            <div class="yesNoIcon1"><i class="fa-solid fa-magnifying-glass-plus"></i></div>
            <div class="yesNoClose1" id="cmppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>
        
        <div class="yesNoTitle1" id="cmppTitle">DETALLE DE MOVIMIENTOS</div>
        <div class="yesNoSubitle1 mbm" id="cmppSubtitle"></div>

        <div class="divTable" id="cmppTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wS thLeftBorder">Fecha</th>
                        <th class="theadCss wS">Tipo</th>
                        <th class="theadCss wS">#Pedido</th>
                        <th class="theadCss wS">Importe</th>    
                        <th class="theadCss wS thRightBorder">Saldo</th>
                    </tr>
                </thead>
                <tbody id="cmppBody"></tbody>
            </table>
        </div>

    </div>
</div>