<!----------Delete line popup---------->
<div class="popup" id="dlpp">
    
    <div class="popupContent" id="dlppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-trash-can"></i></div>
            <div class="popupClose2" id="dlppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="dlppQuestion"></div>
        
        <div class="divButtonsRow mbs">
            <div id="dlppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="dlppOk">    
    <div class="okContent" id="dlppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Item eliminado con éxito</div>
        </div>
    </div>
</div>

<!----------add product---------->
<div class="popup" id="appp">
    
    <div class="popupContent" id="apppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="apppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts" id="apppTitle">ASIGNACIÓN MASIVA</div>

        <div class="divInputsColumn mtl">
            <div class="divInput">
                <label class="label1" id="apppProductLabel">Producto</label>
                <input type="text" class="input1 inputXXXL" id="apppProduct" autocomplete="off">
                <ul class="predictedElements" id="ulPredictedProducts2"></ul>
            </div>
            <div class="divInput">
                <label class="label1" id="apppCustomerLabel">Cliente</label>
                <input type="text" class="input1 inputXXXL" id="apppCustomer" autocomplete="off">
                <ul class="predictedElements" id="ulPredictedCustomers2"></ul>
            </div>
        </div>

        <div class="divError" id="apppError">Debe completar todos los datos</div>

        <div class="divButtonsRow mtm mbm">
            <div id="apppAddLine" class="button1 bxs">Agregar</div>
        </div>

        <div class="divTable" id="productsClientsTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wXL thLeftBorder">Cliente</th>
                        <th class="theadCss wXXL">Producto</th>
                        <th class="theadCss wXL">Color</th>
                        <th class="theadCss wXS">Talle</th>
                        <th class="theadCss wXXS thRightBorder"><i class="fa-regular fa-trash-can tableIcon"></i></th>
                    </tr>
                </thead>
                <tbody id="bodyAddProducts"></tbody>
            </table>
        </div>

        <div class="divButtonsRow mtm mbm">
            <div id="apppAccept" class="button1 bxs">Aceptar</div>
            <div id="apppCancel" class="button1 bxs">Cancelar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="apppOk">    
    <div class="okContent" id="apppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Productos agregados con éxito</div>
        </div>
    </div>
</div>

<!----------select channel popup---------->
<div class="popup" id="sscpp">
    
    <div class="popupContent" id="sscppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="sscppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts">Debe seleccionar el canal de venta para las órdenes nuevas</div>

        <div class="divInputsColumn mtm">
            <div class="divInput">
                <select id="sscppSalesChannel" class="input1 inputLNoLabel">
                    <option value="1">Difusión1</option>
                    <option value="2">Difusión2</option>
                </select>
            </div>            
        </div>

        <div class="divButtonsRow mtm mbs">
            <div id="sscppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>




