<!----------ADD PRODUCT POPUP (APPP)---------->
<div class="popup" id="appp">
    
    <div class="popupContent" id="apppContent">

        <div class="popupIcons">
            <div class="popupIcon1"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose1" id="apppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts" id="apppTitle">ASIGNACIÓN MASIVA DE PRODUCTOS</div>

        <div class="divInputsColumn mtl">
            <div class="divInput">
                <label class="label1" id="apppProductLabel">Producto</label>
                <input type="text" class="input1 ixxxl ipm" id="apppProduct" autocomplete="off">
                <ul class="predictedElements" id="ulPredictedProducts2"></ul>
            </div>
            <div class="divInput mtm">
                <label class="label1" id="apppReqQtyLabel">Cantidad requerida</label>
                <input type="txt" class="input1 ixxxl ipm" id="apppReqQty" autocomplete="off">
            </div>
            <div class="divInput mtm">
                <label class="label1" id="apppCustomerLabel">Cliente</label>
                <input type="text" class="input1 ixxxl ipm" id="apppCustomer" autocomplete="off">
                <ul class="predictedElements" id="ulPredictedCustomers2"></ul>
            </div>
        </div>

        <div class="divError" id="apppError">Debe completar todos los datos</div>

        <div class="divButtonsRow mtm mbm">
            <div id="apppAddLine" class="button1 bxs">Agregar</div>
        </div>

        <div class="divTable" id="productsClientsTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wXL thLeftBorder">Cliente</th>
                        <th class="theadCss wXXL">Producto</th>
                        <th class="theadCss wS">Cantidad requerida</th>
                        <th class="theadCss wXL">Colores</th>
                        <th class="theadCss wXS">Talles</th>
                        <th class="theadCss wXXS thRightBorder"><i class="fa-regular fa-trash-can tableIcon"></i></th>
                    </tr>
                </thead>
                <tbody id="bodyAddProducts"></tbody>
            </table>
        </div>

        <div class="divButtonsRow mtm mbm">
            <div id="apppAccept" class="button1 bs">Guardar</div>
        </div>
    </div>
</div>