<!----------Delete line popup---------->
<div class="popup" id="dlpp">
    
    <div class="popupContent" id="dlppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-trash-can"></i></div>
            <div class="popupClose2" id="dlppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupQuestion" id="dlppQuestion"></div>
        
        <div class="divButtonsRow mbs">
            <div id="dlppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>

<!----------select channel popup---------->
<div class="popup2" id="sscpp">
    
    <div class="popupContent" id="sscppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-pen-to-square"></i></div>
            <div class="popupClose2" id="sscppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts">Debe seleccionar el canal de venta para las órdenes nuevas</div>

        <div class="divInputsColumn mtm">
            <div class="divInput">
                <select id="sscppSalesChannel" class="input1 inputLNoLabel">
                    <option value="1">Difusión1</option>
                    <option value="2">Difusión2</option>
                </select>
            </div>            
        </div>

        <div class="divButtonsRow mtm mbs">
            <div id="sscppAccept" class="button1 bxs">Aceptar</div>
        </div>
    </div>
</div>




