<!----------LINE OBSERVATIONS POPUP (LOPP)---------->
<div class="popup" id="lopp">
    
    <div class="popupContent" id="loppContent">

        <div class="popupIcons">
            <div class="popupIcon2"><i class="fa-regular fa-comment"></i></div>
            <div class="popupClose2" id="loppClose"><i class="fa-solid fa-rectangle-xmark"></i></div>
        </div>

        <div class="popupTitle2 mts" id="loppProduct"></div>

        <div class="popupTitle2 mts" id="loppTitle">OBSERVACIONES</div>

        <div class="divInputsColumn mtl mbl">
            <div class="divInput">
                <textarea class="input1 inputXXL" id="loppObs"></textarea>
            </div> 
        </div>

        <div class="divButtonsRow">
            <div id="loppAccept" class="button1 bxs">Guardar</div>
        </div>
    </div>
</div>

<div class="okPopup" id="loppOk">    
    <div class="okContent" id="loppOkContent">
        <div class="okDiv">
            <div class="okIcon1"><i class="fa-regular fa-circle-check"></i></div>
            <div class="okText">Observaciones guardadas con éxito</div>
        </div>
    </div>
</div>