<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="mainTitle">
    <div class="titleL">Clientes</div>
</div>

<div class="content">

    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th class="theadCss wL thLeftBorder thTall">
                        <div class="divThWithIcon">
                            Cliente                            
                        </div> 
                    </th>

                    <th class="theadCss wL thTall">Email</th>

                    <th class="theadCss wXXL thTall">Domicilio</th>

                    <th class="theadCss wL thRightBorder thTall">Teléfono</th>

                </tr>
            </thead>
            <tbody id="vehiclesBody"></tbody>
        </table>
    </div>

    
</div>
